h1,
h2,
h6 {
    text-align: center;

}

.bg-header {
    margin: auto;
    color: white;
    text-align: center;
    margin-top: 10px;
}

p {
    text-align: center;

}

.bg-todo img {
    display: inline-block;
}

.form-message {
    margin-bottom: 20px;
}

.header-elements {
    margin-top: 150px;
    padding: 40px;
}

.social_media {
    /* padding:10px; */
    margin-left: 200px;
    margin-top: 15px;
    display: inline-block;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mouse {
    margin-top: 120px;
}

input[type='text'],
textarea {
    background: none;
    border-radius: 0px;
    color: white
}

textarea {
    padding: 10px;
    border: 1px solid white
}

/* HOVER STYLE */
.portfolio-content {
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    width: 100%;
    height: 100%;
}

.portfolio-content .text {
    position: absolute;
    color: white;
    border: 1px solid white;
    margin: 5%;
    text-align: center;
    font-weight: bold;
    padding: 60px 30px 40px 30px;
}

/*--------------  MEDIA QUERY -----------------*/


/*-------------- Mobile Screen ---------------- */
@media (max-width: 500px) {

    h1,
    h2,
    h6 {
        text-align: center;
        font-size: 3vw;
    }

    .bg-header {
        color: white;
        text-align: center;
        margin-top: 1px;

    }

    p {
        text-align: center;
        font-size: 2vw;
    }

    .bg-todo img {
        flex: 100%;
        max-width: 100%;
    }

    .form-message {
        margin-bottom: 20px;
    }

    .header-elements {
        margin-top: 5px;
        padding: 5px;
    }

    .social_media {
        flex: 100%;
        max-width: 100%;
    }

    .mouse {
        margin-top: 10px;
    }

    input[type='text'],
    textarea {
        background: none;
        border-radius: 0px;
        color: white
    }

    textarea {
        padding: content: '\edea';
        px;
        border: 1px solid white
    }
}
